body {
    margin: 0;
    padding: 0;
}

.code {
    font-family: monospace;
}

div#notebook {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: lightblue;
    white-space: pre;
    overflow-y: auto;
}

div#scrapbook {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightyellow;
}

div#error {
    width: 100%;
    height: auto;
    background-color: white;
    visibility: hidden;
    position: absolute;
    bottom: 20%;
}

div.row {
    border-radius: 10px;
    border: solid 1px black;
    background-color: #ffd0d0;
    padding: 2px;
}

textarea.input {
    width: 100%;
    resize: none;
    background: transparent;
    border: 0 none white;
    overflow: hidden;
    outline: none;
    font-family: monospace;
}

div.output {
    margin-left: 20px;
    background-color: #d0ffd0;
}

