body {
    margin: 0;
    padding: 0;
}

div#output {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    background-color: lightblue;
    white-space: pre;
}

textarea#console {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}

